In [3]:
# Data manipulation
import numpy as np
import pandas as pd
import glob

# Visualization
import seaborn as sns
import matplotlib.pyplot as plt

# Excel reading (if needed)
import xlrd  # for older .xls files
# import openpyxl  # for modern .xlsx files

# HTTP requests and web scraping
import requests
from bs4 import BeautifulSoup

# Warnings'
import warnings
warnings.filterwarnings('ignore')  # optional: to ignore warnings

In [4]:
df = pd.read_csv("/Users/Goldie/Desktop/Ironhack/Project/IronHack-w3-Modual1-Project3/Data/Clean/FIFA18_cleaned.csv")

In [5]:
country_to_area = {
    # Europe
    "England": "Europe",
    "France": "Europe",
    "Germany": "Europe",
    "Spain": "Europe",
    "Italy": "Europe",
    "Portugal": "Europe",
    "Netherlands": "Europe",
    "Belgium" : "Europe",
    "Austria" : "Europe",
    "Wales":"Europe",
    "Albania": "Europe",
    "Andorra": "Europe",
    "Armenia": "Europe",
    "Azerbaijan": "Europe",
    "Belarus": "Europe",
    "Bosnia Herzegovina": "Europe",
    "Bulgaria": "Europe",
    "Croatia": "Europe",
    "Cyprus": "Europe",
    "Czech Republic": "Europe",
    "Denmark": "Europe",
    "Estonia": "Europe",
    "Faroe Islands": "Europe",
    "Finland": "Europe",
    "Georgia": "Europe",
    "Gibraltar": "Europe",
    "Greece": "Europe",
    "Hungary": "Europe",
    "Iceland": "Europe",
    "Kosovo": "Europe",
    "Latvia": "Europe",
    "Liechtenstein": "Europe",
    "Lithuania": "Europe",
    "Luxembourg": "Europe",
    "Malta": "Europe",
    "Moldova": "Europe",
    "Montenegro": "Europe",
    "North Macedonia": "Europe",
    "Northern Ireland": "Europe",
    "Norway": "Europe",
    "Poland": "Europe",
    "Republic of Ireland": "Europe",
    "Romania": "Europe",
    "Russia": "Europe",
    "San Marino": "Europe",
    "Scotland": "Europe",
    "Serbia": "Europe",
    "Slovakia": "Europe",
    "Slovenia": "Europe",
    "Sweden": "Europe",
    "Switzerland": "Europe",
    "Turkey": "Europe",
    "Ukraine": "Europe",
    "Bosnia and Herzegovina": "Europe",

    # South America
    "Brazil": "South America",
    "Argentina": "South America",
    "Uruguay": "South America",
    "Colombia": "South America",
    "Bolivia": "South America",
    "Chile": "South America",
    "Ecuador": "South America",
    "Guyana": "South America",
    "Paraguay": "South America",
    "Peru": "South America",
    "Suriname": "South America",
    "Venezuela": "South America",

    # Africa
    "Nigeria": "Africa",
    "Senegal": "Africa",
    "Ghana": "Africa",
    "Morocco": "Africa",
    "Algeria": "Africa",
    "Angola": "Africa",
    "Benin": "Africa",
    "Burkina Faso": "Africa",
    "Burundi": "Africa",
    "Cameroon": "Africa",
    "Cape Verde": "Africa",
    "Central African Republic": "Africa",
    "Chad": "Africa",
    "Comoros": "Africa",
    "Congo": "Africa",
    "DR Congo": "Africa",
    "Egypt": "Africa",
    "Equatorial Guinea": "Africa",
    "Eritrea": "Africa",
    "Ethiopia": "Africa",
    "Gabon": "Africa",
    "Gambia": "Africa",
    "Guinea": "Africa",
    "Guinea Bissau": "Africa",
    "Ivory Coast": "Africa",
    "Kenya": "Africa",
    "Liberia": "Africa",
    "Libya": "Africa",
    "Madagascar": "Africa",
    "Mali": "Africa",
    "Mauritania": "Africa",
    "Mauritius": "Africa",
    "Mozambique": "Africa",
    "Namibia": "Africa",
    "Niger": "Africa",
    "São Tomé & Príncipe": "Africa",
    "Senegal": "Africa",
    "Sierra Leone": "Africa",
    "Somalia": "Africa",
    "South Africa": "Africa",
    "South Sudan": "Africa",
    "Sudan": "Africa",
    "Tanzania": "Africa",
    "Togo": "Africa",
    "Tunisia": "Africa",
    "Uganda": "Africa",
    "Zambia": "Africa",
    "Zimbabwe": "Africa",
    "Côte d'Ivoire": "Africa",
    "Congo DR": "Africa",
    "Cape Verde Islands": "Africa",
    "Malawi": "Africa",
    "Rwanda": "Africa",
    "São Tomé e Príncipe": "Africa",

    # Asia
    "Japan": "Asia",
    "South Korea": "Asia",
    "Iran": "Asia",
    "Afghanistan": "Asia",
    "Brunei Darussalam": "Asia",
    "China PR": "Asia",
    "Chinese Taipei": "Asia",
    "Hong Kong": "Asia",
    "India": "Asia",
    "Iraq": "Asia",
    "Israel": "Asia",
    "Jordan": "Asia",
    "Kazakhstan": "Asia",
    "Korea DPR": "Asia",
    "Korea Republic": "Asia",
    "Kuwait": "Asia",
    "Kyrgyzstan": "Asia",
    "Lebanon": "Asia",
    "Oman": "Asia",
    "Palestine": "Asia",
    "Philippines": "Asia",
    "Qatar": "Asia",
    "Saudi Arabia": "Asia",
    "Sri Lanka": "Asia",
    "Syria": "Asia",
    "Thailand": "Asia",
    "Turkmenistan": "Asia",
    "Uzbekistan": "Asia",
    "United Arab Emirates": "Asia",
    "Malaysia": "Asia",
    "Vietnam": "Asia",
    "Laos": "Asia",
    "Bhutan": "Asia",
    "Singapore": "Asia",
    "Indonesia": "Asia",
    "Bahrain": "Asia",
    "Macau": "Asia",
    "Yemen": "Asia",

    # North America
    "USA": "North America",
    "Mexico": "North America",
    "Canada": "North America",
    "Antigua & Barbuda": "North America",
    "Barbados": "North America",
    "Belize": "North America",
    "Bermuda": "North America",
    "Costa Rica": "North America",
    "Cuba": "North America",
    "Curacao": "North America",
    "Dominican Republic": "North America",
    "El Salvador": "North America",
    "Grenada": "North America",
    "Guam": "North America",
    "Guatemala": "North America",
    "Haiti": "North America",
    "Honduras": "North America",
    "Jamaica": "North America",
    "Montserrat": "North America",
    "Nicaragua": "North America",
    "Panama": "North America",
    "Puerto Rico": "North America",
    "Saint Kitts and Nevis": "North America",
    "Saint Lucia": "North America",
    "Trinidad & Tobago": "North America",
    "United States": "North America",
    "Trinidad and Tobago": "North America",
    "Antigua and Barbuda": "North America",
    "Aruba": "North America",


    # Oceania
    "Australia": "Oceania",
    "Fiji": "Oceania",
    "New Caledonia": "Oceania",
    "New Zealand": "Oceania",
    "Papua New Guinea": "Oceania"
}

In [6]:
 new_df = df.copy()

In [7]:


new_df["area"] = new_df["Nationality"].map(country_to_area)

In [8]:
new_df

,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Best Overall Rating,Release Clause,area
0,176580,L. Suárez,30,https://cdn.sofifa.com/players/176/580/18_60.png,Uruguay,https://cdn.sofifa.com/flags/uy.png,92,92,FC Barcelona,https://cdn.sofifa.com/teams/241/light_30.png,...,38.0,27.0,25.0,31.0,33.0,37.0,CF,88.0,€198.9M,South America
1,178518,R. Nainggolan,29,https://cdn.sofifa.com/players/178/518/18_60.png,Belgium,https://cdn.sofifa.com/flags/be.png,86,86,Roma,https://cdn.sofifa.com/teams/52/light_30.png,...,88.0,11.0,11.0,14.0,8.0,11.0,CDM,84.0,€72.3M,Europe
2,203551,A. Florenzi,26,https://cdn.sofifa.com/players/203/551/18_60.png,Italy,https://cdn.sofifa.com/flags/it.png,82,83,Roma,https://cdn.sofifa.com/teams/52/light_30.png,...,78.0,9.0,8.0,10.0,11.0,10.0,CF,81.0,€37.3M,Europe
3,197445,D. Alaba,25,https://cdn.sofifa.com/players/197/445/18_60.png,Austria,https://cdn.sofifa.com/flags/at.png,85,87,FC Bayern München,https://cdn.sofifa.com/teams/21/light_30.png,...,80.0,5.0,7.0,14.0,15.0,9.0,LB,82.0,€66.4M,Europe
4,195864,P. Pogba,24,https://cdn.sofifa.com/players/195/864/18_60.png,France,https://cdn.sofifa.com/flags/fr.png,88,92,Manchester United,https://cdn.sofifa.com/teams/11/light_30.png,...,68.0,5.0,6.0,2.0,4.0,3.0,CM,85.0,€146.3M,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17922,240757,A. Viscovo,18,https://cdn.sofifa.com/players/240/757/18_60.png,Italy,https://cdn.sofifa.com/flags/it.png,51,70,Crotone,https://cdn.sofifa.com/teams/110734/light_30.png,...,13.0,58.0,46.0,57.0,52.0,47.0,GK,50.0,€146K,Europe
17923,237463,A. Kelsey,17,https://cdn.sofifa.com/players/237/463/18_60.png,England,https://cdn.sofifa.com/flags/gb-eng.png,46,63,Scunthorpe United,https://cdn.sofifa.com/teams/1949/light_30.png,...,10.0,46.0,47.0,49.0,42.0,48.0,GK,45.0,€119K,Europe
17924,240790,A. Giacomel,18,https://cdn.sofifa.com/players/240/790/18_60.png,Italy,https://cdn.sofifa.com/flags/it.png,49,64,Empoli,https://cdn.sofifa.com/teams/1746/light_30.png,...,10.0,45.0,55.0,48.0,45.0,56.0,GK,48.0,€111K,Europe
17925,241206,D. Maekawa,22,https://cdn.sofifa.com/players/241/206/18_60.png,Japan,https://cdn.sofifa.com/flags/jp.png,54,61,Vissel Kobe,https://cdn.sofifa.com/teams/101146/light_30.png,...,8.0,55.0,51.0,44.0,55.0,59.0,GK,53.0,€102K,Asia
17926,243202,A. Jones,16,https://cdn.sofifa.com/players/243/202/18_60.png,England,https://cdn.sofifa.com/flags/gb-eng.png,48,66,Milton Keynes Dons,https://cdn.sofifa.com/teams/1798/light_30.png,...,12.0,56.0,43.0,42.0,39.0,52.0,GK,47.0,€119K,Europe

In [9]:
new_df["area"] = new_df["area"].fillna("Other")

In [10]:
new_df[["Nationality","area"]]

      Nationality           area
0         Uruguay  South America
1         Belgium         Europe
2           Italy         Europe
3         Austria         Europe
4          France         Europe
...           ...            ...
17922       Italy         Europe
17923     England         Europe
17924       Italy         Europe
17925       Japan           Asia
17926     England         Europe

[17927 rows x 2 columns]

In [11]:
new_df.loc[new_df["area"] == "Other", "Nationality"].unique()

<StringArray>
[]
Length: 0, dtype: str

In [12]:
new_df["area"] = new_df["Nationality"].map(country_to_area).fillna("Other")

In [13]:
country_area_df = (
pd.DataFrame(list(country_to_area.items()),
columns=["Nationality", "area"])
.sort_values("Nationality")
.reset_index(drop=True)
)

In [14]:
country_area_df

     Nationality    area
0    Afghanistan    Asia
1        Albania  Europe
2        Algeria  Africa
3        Andorra  Europe
4         Angola  Africa
..           ...     ...
186      Vietnam    Asia
187        Wales  Europe
188        Yemen    Asia
189       Zambia  Africa
190     Zimbabwe  Africa

[191 rows x 2 columns]

In [15]:
all_countries = df["Nationality"].dropna().unique()


missing_countries = set(all_countries) - set(country_area_df["Nationality"])


missing_df = pd.DataFrame({
"Nationality": sorted(missing_countries),
"area": "Other"
})


country_area_df = (
pd.concat([country_area_df, missing_df], ignore_index=True)
.sort_values("Nationality")
.reset_index(drop=True)
)

In [16]:
country_area_df["area"].value_counts()

area
Europe           54
Africa           53
Asia             38
North America    29
South America    12
Oceania           5
Name: count, dtype: int64

In [17]:
country_area_df
pd.reset_option("display.max_rows")

In [18]:
pd.set_option("display.max_rows", None)
country_area_df[country_area_df["area"] == "Other"]

Empty DataFrame
Columns: [Nationality, area]
Index: []

In [19]:
#country_area_df.to_csv("country_area_mapping.csv", index=False)